/* Webfont: Lato-Medium */@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("./fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("./fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("./fonts/Regular/Roboto-Regular.woff2?v=1.1.0") format("woff2"), url("./fonts/Regular/Roboto-Regular.woff?v=1.1.0") format("woff"), url("./fonts/Regular/Roboto-Regular.ttf?v=1.1.0") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
